<% if logged_in? %>
  <script id='bootstrap-current-user' type='text/javascript'>
    window.currentUser = <%= render('api/users/user.json.jbuilder',
      user: current_user).html_safe %>
  </script>
<% end %>

<script type='text/javascript'>
  window.images = {
    logo: '<%= asset_path('501px_logo.png') %>',
    background: '<%= asset_path('background.jpg') %>'
  }
</script>

<div id='root'></div>
