.login-main-container {
  height: calc(100vh - 60px);
  background: #F8F8F8;
  /* background: lightgrey; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 320px;
  border: 1px solid #E8E8E8;
  border-radius: 3px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
}

.login-form input {
  display: block;
  height: 30px;
  border: 1px solid #E0E0E0;
  border-radius: 3px;
}

.login-form button {
  height: 40px;
  background: #34bf49;
  border: none;
  border-radius: 3px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.login-form > h1 {
  align-self: center;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: #525558;
  padding-bottom: 20px;
}

.login-form h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-align: center;
  color: #71767a;
}

.login-form a:link {
  color: #0099e5
}

.login-form a:visited {
  color: #0099e5
}

.login-form label {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #71767a;
}
