.nav-bar {
  /* overflow: hidden;
  background-color: grey; */
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 40px;
  box-shadow: 0 2px 3px -2px lightgrey;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  top: 0;
  position: sticky;
  background-color: white;
  z-index: 2;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-left {
  float: left;
  display: flex;
}

.nav-right {
  float: right;

}

.nav-logo {
  height: 20px;
  width: 80px;
  padding-right: 5px;
  padding-top: 5px;
}

.nav-avatar {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.signup-button {
  height: 30px;
  width: 83.33px;
  border-radius: 30px;
  border: 1px solid #0099e5;
  background: #0099e5;
  color: white;
  font-weight: 700;
  display: inline-block;
  vertical-align: middle;
}

.signup-button:hover {
  background: #19a3e7;
}

.login-button {
  height: 30px;
  width: 83.33px;
  background: none;
  color: #0099e5;
  border: none;
}

.nav-button {
  background: none;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #525558;
  padding-left: 10px;
  padding-top: 5px;
}

.upload-button {
  height: 50px;
  width: 110px;
  border: none;
  border-radius: 0;
  background: #34bf49;
  color: white;
  font-size: 14px;
  position: relative;
  top: -10px;
  padding-left: 40px;
}

.upload-sprite {
  position: absolute;
  top: 15px;
  right: 110px;
  height: 18px;
  width: 24px;
}

.upload-sprite:hover {
  cursor: pointer;
}

.nav-button:hover {
  color: #0099e5;
}

button:hover {
  cursor: pointer;
}

a:hover  {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-right: 20px;
}

.dropdown button {
  background: none;
  color: #71767a;
  width: 140px;
  height: 40px;
  border: none;
  text-align: left;
}

.dropdown-content {
  width: 160px;
  box-sizing: border-box;
  padding: 10px;
  display: none;
  background: white;
  position: absolute;
  right: -10px;
  z-index: 1;
  box-shadow: 0 0 2px lightgrey;
  border-radius: 3px;
  overflow: visible;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.greeting {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  padding-left: 20px;
  padding-right: 10px;
  position: absolute;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  align-items: center;
  width: 300px;
  border-radius: 0 0 5px 5px;
  background: #34bf49;
  z-index: 1;
}

.greeting > button {
  width: 25px;
  height: 25px;
  border-radius: 3px;
  background: none;
  border: none;
  color: darkgreen;
  font-weight: bold;
  font-size: 14px;
}

.greeting > button:hover {
  color: black
}

.greeting > h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: white;
}

.hidden {
  display: none;
}

#green-signup {
  position: absolute;
  top: 0;
  right: 40px;
  height: 50px;
  width: 90px;
  border: none;
  border-radius: 0;
  background: #34bf49;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
