.nav-bar {
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  box-shadow: 0 2px 3px -2px lightgrey;
  overflow: auto;
  width: 92vw;
  /* width: 600px; */
  position: fixed;
  top: 0;
}

.nav-left {
  float: left;
}

.nav-right {
  float: right;
}

.nav-logo {
  height: 20px;
  width: 80px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.signup-button {
  height: 30px;
  width: 83.33px;
  border-radius: 30px;
  border: 1px solid #0099e5;
  background: #0099e5;
  color: white;
  font-weight: bold;
}

.signup-button:hover {
  background: #19a3e7;
}

.login-button {
  height: 30px;
  width: 83.33px;
  background: none;
  color: #0099e5;
  border: none;
}

button:hover {
  cursor: pointer;
}

a:hover  {
  cursor: pointer;
}
